.footer {
    background: var(--clr-brandWhite);
    padding: 15% 8% 2% 8%;
    border-top: 1px solid rgba(0,0,0, 0.1);
}

.footer-us {
    margin-bottom: var(--spacing4);
}

.footer-us h4 {
    margin: var(--spacing2) 0;
    font-weight: 400;
    max-width: 320px;
}

.footer-nav,
.footer-contact {
    margin-bottom: var(--spacing3);
}

.footer-nav h4,
.footer-contact h4 {
    color: var(--clr-brandNavy);
    margin-bottom: var(--spacing2);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--clr-brandPurple);
    text-decoration-thickness: 1.5px;
}

.footer-nav ul li,
.footer-contact ul li {
    margin-bottom: var(--spacing1);
}

.footer-socials h5 {
    position: relative;
    width: 100%;
    margin-bottom: 0.25rem;
}

.footer-socials h5::after {
    content: "";
    display: inline-block;
    width: 80%;
    height: 1px;
    background-color: rgba(0,0,0,0.1);
    right: 0;
    position: absolute;
    top: 50%;
}

.footer-socials-container {
    display: flex;
    width: 50%;
}

.footer-socials-container div a {
    font-size: 0.9rem;
    text-decoration: none;
    font-size: 0.8rem;
}

.footer-socials-container div:first-of-type a {
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.footer-socials-container div:nth-of-type(2) a {
    padding: 0.5rem;
}

.footer-socials-container div:first-of-type::after {
    content: "";
    height: 40%;
    border-right: 1px solid lightgrey;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-bottom p {
    display: flex;
    align-items: center;
    font-size: smaller;
    font-family: var(--fnt-main);
}

.footer-bottom {
    margin-top: var(--spacing3);
}

.footer-legal-links {
    display: flex;
}

.footer-legal-links a {
    font-size: smaller;
    text-decoration: none;
    padding: 0.5rem;
}

@media (min-width: 768px) {
    footer {
        padding: 6% 8% 2% 8% !important;
    }
    .footer-container {
        display: flex;
        justify-content: space-between;
    }
}